@import '@/theme/theme.scss';

a.hero-card {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    .image-container {
        aspect-ratio:  9 / 10;
        position: relative;
    }

    .bar {
        display: flex;
        gap: $sp-2;
        justify-content: space-between;
        align-items: center;
        padding: $sp-4;
        background-color: $c-fg;
        color: $c-bg;
        transition: background-color $t-default;
    }

    .fav-button {
        :hover,&:focus-visible {
            transform: scale(1.3);
            transition: transform $t-default;
        }
    }

    &:hover,&:focus-visible {
        .bar {
            background-color: $c-primary;
            color: $c-bg;
        }
    }

    hr {
        border: none;
        border-top: 5px solid $c-primary;
        width: 100%;
        margin: 0;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-left: 13px solid transparent;
        border-top: 13px solid $c-bg;
        transform: rotateZ(90deg);
      }

      .name {
        text-wrap: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
}