@import '@/theme/theme.scss';

.hero-comics-section {
    min-height: 405px;
    
    .hero-comics-carousel {
        display: flex;
        gap: $sp-4;
        overflow-y: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        padding-bottom: $sp-8;
        &::-webkit-scrollbar {
            width: 10px;
            height: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background: $c-primary;
          }
          &::-webkit-scrollbar-track {
            background: $c-grey-light;
          }
          & > div {
            scroll-snap-align: senter;
            flex-shrink: 0;
          }
    }


}