@import '@/theme/theme.scss';

.typography {
  &.variant-h1 {
    font-size: $f-h1-size;
  }
  
  &.variant-h2 {
    font-size: $f-h2-size;
  }
  
  &.variant-h3 {
    font-size: $f-h3-size;
  }
  
  &.variant-h4 {
    font-size: $f-h4-size;
  }
  
  &.variant-h5 {
    font-size: $f-h5-size;
  }
  
  &.variant-h6 {
    font-size: $f-h6-size;
  }
  
  &.variant-body1 {
    font-size: $f-body1-size;
  }
  
  &.variant-body2 {
    font-size: $f-body2-size;
  }
  
  &.variant-caption {
    font-size: $f-caption-size;
  }
  
  &.variant-subtitle1 {
    font-size: $f-subtitle1-size;
  }
  
  &.variant-subtitle2 {
    font-size: $f-subtitle2-size;
  }

  &.color-bg {
    color: $c-bg;
  }

  &.color-fg {
    color: $c-fg;
  }
}
