$breakpoints: (
  xs: 0,
  mobile-sm: 393px,
  mobile: 576px,
  tablet-sm: 768px,
  tablet: 834px,
  tablet-lg: 960px,
  laptop: 1024px,
  desktop-sm: 1200px,
  desktop: 1512px,
  desktop-lg: 1920px
);

@mixin media($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @media (min-width: $value) {
    @content;
  }
}
