$breakpoints: (
  xs: 0,
  sm: 393px,
  md: 834px,
  lg: 992px,
  xl: 1200px,
  xxl: 1512px
);

@mixin media($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @media (min-width: $value) {
    @content;
  }
}
