$f-default-font: 'Roboto Condensed', sans-serif;
$f-default-size: 16px;

$f-h1-size: 2rem;
$f-h2-size: 1.8rem;
$f-h3-size: 1.6rem;
$f-h4-size: 1.4rem;
$f-h5-size: 1.2rem;
$f-h6-size: 1rem;
$f-body1-size: 1rem;
$f-body2-size: 0.875rem;
$f-caption-size: 0.75rem;
$f-subtitle1-size: 1rem;
$f-subtitle2-size: 0.875rem;
