@import 'normalize.css';
@import './breakpoints.scss';
@import './fonts.scss';

body {
    font-size: $f-default-size;
}

* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}