@import '@/theme/theme.scss';

header.header {
    color: red;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

div.container {
    padding: $sp-2;
    max-width: map-get($breakpoints, xxl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: blue;

    @include media(md) {
        padding: $sp-2 $sp-6;
    }
}