@import '@/theme/theme.scss';

header.header {
    width: 100%;
    background-color: $c-fg;
    display: flex;
    justify-content: center;
}

div.container {
    padding: $sp-2;
    max-width: map-get($breakpoints, desktop);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include media(tablet) {
        padding: $sp-2 $sp-6;
    }
}