@import '@/theme/theme.scss';

ul.hero-selector {
    list-style: none;
    display: grid;
    gap: $sp-3;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));

    @include media(desktop){
        grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
    }
}